@font-face {
    font-family: 'NamaFont';
    /* Ganti 'NamaFont' dengan nama font yang ingin Anda berikan */
    src: local('Axiforma'),
        /* Nama font untuk digunakan pada local machine */
        url('ASET/FONT/Axiforma/Axiforma-Medium.otf') format('otf');
    /* Lokasi font di dalam proyek Anda */
}

.container{
    padding: 2%;
}

.title-app{
}
.title-app h1{
    font-size: 3em;
    font-family: 'Axiforma';
    font-weight: bold;
    /* margin-bottom: .1em; */
}

.title-app p{
    font-size: 1em;
    font-family: 'Axiforma';
}

.warpChart{
    padding: 2%;
    border-radius: .5em;
    background-color: #021b1a48;
    height: 50em;
    font-family: 'Axiforma';
}

.warpChart h2{
    font-size: 1.2em;
}




/* Responsif */
/* Tampilan responsif untuk perangkat dengan lebar 1025px hingga 1440px (tablet besar dan layar laptop) */
@media screen and (max-width: 1440px) {

    html {
        font-size: 70%;
    }
}



@media screen and (max-width: 700px) {

    /* Atur tampilan sesuai dengan kebutuhan Anda */
    html {
        font-size: 40%;
    }

}

@media screen and (max-width: 400px) {

    /* Atur tampilan sesuai dengan kebutuhan Anda */
    html {
        font-size: 30%;
    }

}

@media screen and (max-width: 300px) {

    /* Atur tampilan sesuai dengan kebutuhan Anda */
    html {
        font-size: 25%;
    }
}


/* if screen hight 510 */
@media screen and (max-height:600px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-height:300px) {
    html {
        font-size: 40%;
    }
}